.form__section {
  @include indents-none;
  box-sizing: border-box;
  border: none;
}

.form__section-title {
  @include indents-none;
  @include title(24px);
  position: relative;
  max-width: 182px;
  margin-top: 29px;
  padding-right: 22px;
  margin-left: 19px;
  line-height: 24px;
  color: $title-black;
  background-color: $white;
  z-index: 1;
}

.form__list {
  @include indents-none;
  @include list-reset;
  padding-left: 19px;
  padding-right: 20px;

  &--info {
    padding-bottom: 23px;
  }

  &--target {
    padding-top: 25px;
    padding-bottom: 24px;
    border: 1px solid $border-lightgrey;
  }

  &--contacts {
    padding-top: 32px;
  }

  &--comment {
    padding-top: 35px;
  }

  &--add {
    padding-top: 39px;
  }
}

.form__item {
  &--info,
  &--contacts {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 13px;
  }

  &--target,
  &--add {
    position: relative;
    margin-bottom: 21px;
    padding-left: 46px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  @include title-upper(16px);
  line-height: 18px;
  color: $upper-title-black;
  flex-shrink: 0;
}

.form__list--info .form__label {
  margin-right: 15px;
}

.form__list--contacts .form__label {
  margin-right: 12px;
}

.form__input,
.form__textarea {
  @include title-upper(16px);
  @include indents-none;
  box-sizing: border-box;
  width: 100%;
  line-height: 18px;
  border: 1px solid rgba($round-border-grey, 0.5);
  outline: none;

  &::placeholder {
    color: $text-grey;
    opacity: 1;
  }
}

.form__input {
  height: 45px;
  margin-top: 1px;
  padding-left: 14px;
  padding-bottom: 2px;
  outline: none;
}

.form__input[type="number"] {
  appearance: textfield;
  min-width: 10%;
}

.form__input[name="weight"] {
  margin-left: 3px;
}

.form__input[name="age"] {
  margin-left: 2px;
}

.form__textarea {
  display: block;
  min-height: 150px;
  padding-top: 11px;
  padding-left: 15px;
  resize: none;
}

.form__radio + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid $round-border-grey;
  border-radius: 50%;
}

.form__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;
  width: 12px;
  height: 12px;
  background-color: $green;
  border-radius: 50%;
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 1px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid $round-border-grey;
}

.form__footer {
  padding-top: 37px;
}

.form__to-submit {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 22px;
}

.form__footnote {
  @include indents-none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__section {
    &--target {
      padding-left: 71px;
      padding-right: 67px;
      padding-bottom: 67px;
    }
  }

  .form__section-title {
    max-width: 100%;
    margin-top: 8px;
    margin-left: 29px;
    padding-left: 40px;
    padding-right: 42px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__list {
    padding-left: 71px;
    padding-right: 67px;

    &--info {
      padding-bottom: 72px;
    }

    &--target {
      padding-top: 33px;
      padding-bottom: 28px;
      padding-left: 29px;
      padding-right: 30px;
    }

    &--contacts {
      padding-right: 65px;
      padding-top: 75px;
      padding-bottom: 57px;
    }

    &--comment {
      padding-top: 76px;
      padding-bottom: 58px;
    }

    &--add {
      padding-top: 66px;
    }
  }

  .form__footer,
  .form__list--add {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 45px;
    column-gap: 60px;
  }

  .form__item {
    &--info,
    &--contacts {
      margin-bottom: 19px;
    }

    &--target {
      margin-bottom: 26px;
      padding-left: 57px;
    }

    &--add {
      margin-bottom: 0;
      padding-left: 57px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__list--info .form__label {
    margin-right: 16px;
  }

  .form__list--contacts .form__label {
    margin-right: 18px;
  }

  .form__input,
  .form__textarea {
    font-size: 20px;
    line-height: 20px;
  }

  .form__input {
    height: 52px;
    padding-left: 18px;
  }

  .form__input[name="weight"] {
    margin-left: 4px;
  }

  .form__input[name="age"] {
    margin-left: 0;
  }

  .form__input[name="mail"] {
    padding-left: 22px;
  }

  .form__textarea {
    min-height: 174px;
    padding-top: 15px;
    padding-left: 17px;
  }

  .form__radio + label::before {
    top: -9px;
    left: -2px;
    width: 40px;
    height: 40px;
  }

  .form__radio:checked + label::after {
    top: 2px;
    width: 18px;
    height: 18px;
  }

  .form__checkbox + label::before {
    top: -9px;
    left: -1px;
    width: 40px;
    height: 40px;
  }

  .form__footer {
    padding-top: 58px;
    padding-left: 70px;
    padding-right: 67px;
  }

  .form__to-submit {
    width: 283px;
    margin-bottom: 0;
  }

  .form__footnote {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 111px;
    padding-right: 110px;
    padding-bottom: 58px;
  }

  .form__section {
    &--info,
    &--target {
      width: 570px;
      padding: 0;
    }
  }

  .form__section-title {
    margin-top: 10px;
    margin-left: 69px;
  }

  .form__list {
    padding-left: 111px;
    padding-right: 110px;

    &--info {
      padding: 0;
    }

    &--target {
      padding-left: 29px;
      padding-right: 30px;
    }

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--add {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
    }
  }

  .form__item {
    &--contacts {
      width: 569px;
      margin-bottom: 0;

      &:last-child {
        width: 572px;
      }
    }
  }

  .form__footer {
    padding-top: 65px;
    padding-left: 111px;
    padding-right: 110px;
    column-gap: 80px;
  }

  .form__to-submit {
    width: 568px;
    margin: 0;
  }
}
